#innehall {
    margin: auto;
    display: grid;
    grid-template-areas:
    'hd''hd'
    'nv''nv'
    'mn''as'
    'mn''as'
    'ft''ft';
    height: 100vh;
    width: 100%;
}

header{
    grid-area: hd;
}

nav {
    grid-area: nv;
}

main  {
    grid-area: mn;
}

#aside {
    grid-area: as;
}

footer {
    grid-area: ft;
}